{% extends 'layout.html' %}
{% block content %}
    <div class= 'content-section'>
        <h1>Welcome to The Grille</h1>
        <p> Our new restaurant The Grille will be opening it doors for the first time on December 3rd.</p>
    </div>
    <div class= 'content-section'>
        <h1>The Menu</h1>
        <p>Our menu will focus on bringing the highest quality incrediants together. 
        Using a classic firewood grills and all locally sourced items enjoy a range of steaks, fish, burgurs, and chicken.
        Bring a traditional flavor straight to your plate.
        </p>
    </div>
{% endblock content %}