{% extends 'layout.html' %}
{% block content %}
    <div class= 'content-section'>
        <legend class= "border-bottom mb-4"> My Order </legend>
        {% for food in order %}
            {% if food.userID == user and food.complete == False%}
                <div>
                    <h1>{{ food.orderName }}</h1>
                    <p>{{ food.description }}</p>
                    <p>{{ food.price }}</p>
                    <form action="" method="POST" ><button class="btn btn-danger" type="submit" name="delete" value="{{ food.id }}"><span class="glyphicon glyphicon-trash"></span> Delete Item </button> </form>
                </div>
            {% endif %}
        {% endfor %}
        {% if total_price != 0 %}
            <div>
                <h1>Total Amount: {{ total_price }}</h1>
                <p>Tax: 6.5%</p>
            </div>
            <form action="" method="POST" ><button class="btn btn-danger" type="submit" name="complete" value="{{ user }}"><span class="glyphicon glyphicon-trash"></span> Complete Order </button> </form>
        {% endif %}
    </div>
    <div class= 'content-section'>
        <legend class="border-bottom mb-4"> Add Deal </legend>
        <p>My Points: {{ points }}</p>
        {% if points >= 50 %}
            <p>30% Off:</p>
            <form action="" method="POST" ><button class="btn btn-danger" type="submit" name="25_off" value="{{ True }}"><span class="glyphicon glyphicon-trash"></span> Select </button> </form>
        {% endif %}
        {% if points >= 100 %}
            <p>Half Off:</p>
            <form action="" method="POST" ><button class="btn btn-danger" type="submit" name="half_off" value="{{ user }}"><span class="glyphicon glyphicon-trash"></span> Select </button> </form>
        {% endif %}
        {% if points >= 300 %}
            <p>75% Off:</p>
            <form action="" method="POST" ><button class="btn btn-danger" type="submit" name="75_off" value="{{ user }}"><span class="glyphicon glyphicon-trash"></span> Select </button> </form>
        {% endif %}      
    </div>
{% endblock content %}